    body {
        background-color: #2F4F4F;
        transition: background-color 0.4s linear;
    }
    
    h1,
    h3,
    h5 {
        margin: 0;
        padding: 0;
    }
    
    .app {
        font-family: 'Rubik', sans-serif;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        margin: 1.5rem 0 2rem;
        color: #322;
        &-title {
            display: flex;
            flex-direction: column;
            border-top: 5px solid #322;
            border-bottom: 5px solid #322;
        }
        &-gametype {
            font-size: 1rem;
            text-align: center;
        }
        &-subtitle {
            margin-top: 1rem;
            font-size: 1rem;
        }
    }
    
    .wordle {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-grid {
            margin-bottom: 5rem;
        }
    }
    
    .letterrow {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .letterbox {
        border: 3px solid #C0C0C0;
        transition: background-color 0.5s linear;
        border-radius: 0.7rem;
        margin: 0.3rem;
        &-normal {
            width: 3rem;
            height: 3rem;
            font-size: 2.5rem;
        }
        &-small {
            width: 2rem;
            height: 2rem;
            font-size: 1.7rem;
        }
        &-letter {
            display: block;
            justify-content: center;
            text-align: center;
            color: #454040;
        }
    }
    
    .keyboard {
        &-row {
            display: flex;
            justify-content: center;
        }
    }
    
    .victory {
        margin-bottom: 2rem;
    }
    
    .flex {
        display: flex;
    }
    
    .column {
        flex-direction: column;
    }
    
    .center {
        align-items: center;
        justify-content: center;
    }